@use './base/reset';
@use './base/typographie';
@use './base/bases';
@use './layout/header';
@use './layout/footer';
@use './pages/home';
@use './pages/menu1';
@use './components/loader';
@use './components/button';
@use './components/cards';
@use './components/badge';
@use './components/plates';
@use './components/animation-menu';
@use './components/heart-animation';
@use './utils/variables';
@use './utils/mixins';
