/*Animation d'apparition du menu */
/* les paramètres sont dans l'ordre : 
1- nom de l'animation
2- nombres de cycles
3- style du déroulement de l'animation
4- durée de l'animation
5- délai d'attente avant le lancement de l'animation */

/*Les entrées*/
.entrees {
  opacity: 0;
  transform: translateY(-30px);
  animation: entries 1 1s ease-out forwards;
}

@keyframes entries {
  100% {
    opacity: 1;
    transform: none;
  }
}

// /*Les plats*/
.plats {
  opacity: 0;
  transform: translateY(-30px);
  animation: dishes 1 1s 0.5s ease-out forwards;
}

@keyframes dishes {
  100% {
    opacity: 1;
    transform: none;
  }
}

//   /*Les desserts*/
.desserts {
  opacity: 0;
  transform: translateY(-30px);
  animation: desserts 1 1s 1s ease-out forwards;
}

@keyframes desserts {
  100% {
    opacity: 1;
    transform: none;
  }
}
