/*Animation d'apparition du menu */
/* les paramètres sont dans l'ordre : 
1- nom de l'animation
2- nombres de cycles
3- style du déroulement de l'animation
4- durée de l'animation
5- délai d'attente avant le lancement de l'animation */

/*Les entrées*/
.entrees-anim {
  opacity: 0;
  transform: translateY(-60px);
  animation: entries 1s forwards 1.5s;
}

@keyframes entries {
  100% {
    opacity: 1;
    transform: none;
  }
}

// /*Les plats*/
.plats-anim {
  opacity: 0;
  transform: translateY(-60px);
  animation: dishes 2s ease-out forwards 1.5s;
}

@keyframes dishes {
  100% {
    opacity: 1;
    transform: none;
  }
}

//   /*Les desserts*/
.desserts-anim {
  opacity: 0;
  transform: translateY(-60px);
  animation: desserts 3s ease-out forwards 2.5s;
}

@keyframes desserts {
  100% {
    opacity: 1;
    transform: none;
  }
}
