@import '../utils/mixins';
@import '../utils/variables';

/*Mise ne forme du badge "Nouveau"*/
.badge {
  width: 30%;
  height: 32px;
  background-color: $tertiary-color;
  padding: 6px 12px;
  position: absolute;
  bottom: 184px;
  left: 188px;
}
