@import '../utils/mixins';
@import '../utils/variables';

/*Mise ne forme du badge "Nouveau"*/
.badge {
  width: 30%;
  height: 32px;
  background-color: $tertiary-color;
  @include text-font;
  font-size: 1rem;
  font-weight: 500;
  color: darken($tertiary-color, 60%);
  padding: 6px 12px;
  position: absolute;
  bottom: 184px;
  left: 188px;
}
