@import '../utils/mixins';
@import '../utils/variables';

.plate {
  width: 95%;
  background-color: $text-white;
  border-radius: 15px;
  display: flex;
  gap: 5px;
  @include menu-shadow;
  position: relative;
  overflow: hidden;

  &:hover {
    .plate-check {
      transform: translateX(-62px);
      transition: transform 750ms ease;
    }
  }

  &-content {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &-title {
    width: 255px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 9px;
    h3 {
      color: $text-black;
      @include text-font;
      font-weight: 600;
    }

    p {
      color: $text-black;
    }
  }

  &-price {
    color: $text-black;
    font-weight: 600;
    position: absolute;
    top: 42px;
    right: 20px;
  }

  &-check {
    background-color: $tertiary-color;
    min-width: 60px;
    height: 69px;
    /*Borders*/
    border-radius: 0 15px 15px 0;
    /*display*/
    display: flex;
    justify-content: center;
    align-items: center;
    /*Position*/
    position: absolute;
    top: 0;
    right: -62px;
    transform: translateX(0);
    transition: transform 750ms ease;

    i {
      color: $text-white;
    }
  }
}
