/* Error: Undefined mixin.
 *    ,
 * 17 |     @include text-font;
 *    |     ^^^^^^^^^^^^^^^^^^
 *    '
 *   sass\pages\_home.scss 17:5  @use
 *   sass\main.scss 6:1          root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 17 \2502      @include text-font;\d\a    \2502      ^^^^^^^^^^^^^^^^^^\a    \2575 \a   sass\\pages\\_home.scss 17:5  @use\a   sass\\main.scss 6:1          root stylesheet";
}
