/* Error: Expected '.
 *    ,
 * 40 | >>>>>>> parent of 71e8f4c (Correction du dernier bug concernant l'animation des icônes "coeur")
 *    |                                                                                                ^
 *    '
 *   sass\components\_heart-animation.scss 40:96  @import
 *   sass\pages\_home.scss 3:9                    @use
 *   sass\main.scss 6:1                           root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Expected '.\a    \2577 \a 40 \2502  >>>>>>> parent of 71e8f4c (Correction du dernier bug concernant l'animation des icônes \"coeur\")\d\a    \2502                                                                                                 ^\a    \2575 \a   sass\\components\\_heart-animation.scss 40:96  @import\a   sass\\pages\\_home.scss 3:9                    @use\a   sass\\main.scss 6:1                           root stylesheet";
}
