/*Mise en page du container "location"*/
.location {
  width: 100%;
  background-color: $light-grey;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
  padding: 10px 0;
  margin-top: 5px;
  & i {
    width: 16px;
    height: 20px;
  }
  & span {
    @include text-font;
    font-size: 1rem;
    font-weight: 500;
  }
}

/*Mise ne page de la section "hero"*/
.hero {
  width: 100%;
  padding-top: 40px;
  background-color: $light-grey2;
  display: grid;
  place-items: center;
  & h1 {
    @include text-font;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    color: $text-black;
  }
  & p {
    @include text-font;
    font-size: 1.12rem;
    font-weight: 300;
    text-align: center;
    color: $dark-grey;
    padding-top: 15px;
  }
  & button {
    width: 70%;
    height: 50px;
    background: linear-gradient($secondary-color, $primary-color);
    border: none;
    border-radius: 50px;
    margin: 30px 0 57px 0;
    @include text-font;
    font-size: 1rem;
    font-weight: 500;
    color: $text-white;
    cursor: pointer;
    @include shadow-button;
  }
  & button:hover {
    opacity: 0.85;
  }
}
/*Mise en forme de la section "functioning"*/
.functioning {
  width: 100%;
  counter-reset: steps-functioning;

  & h2 {
    @include text-font;
    font-size: 1.5rem;
    font-weight: 700;
    color: $text-black;
    margin: 48px 0 25px 20px;
  }
}
.all-steps {
  & div {
    max-width: 82%;
    height: 20px;
    background-color: $light-grey2;
    border-radius: 20px;
    margin: 20px auto;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    @include shadow-button;
    position: relative;
  }
  & div::before {
    counter-increment: steps-functioning;
    content: '' counter(steps-functioning);
    width: 30px;
    height: 30px;
    background-color: $primary-color;
    border-radius: 50%;
    padding: 5px;
    display: grid;
    place-items: center;
    @include text-font;
    font-size: 0.9rem;
    font-weight: 500;
    color: $text-white;
    position: absolute;
    left: -14px;
  }

  & i {
    font-size: 20px;
    color: darken($light-grey, 40%);
    margin-right: 10px;
  }
}
