@import '../utils/mixins';
@import '../utils/variables';

/*Mise en forme du 1er menu*/

/*Header*/
header {
  width: 100%;
  display: flex;
  justify-content: center;

  & .logo {
    margin-left: 50px;
  }

  & i {
    font-size: 24px;
    margin-left: -34px;
  }
}
/*Mise en forme de l'image du restaurant*/
.menu-img {
  position: relative;
  & img {
    width: 100%;
    height: 275px;
    object-fit: cover;
  }
}

/*Mise en formede la section "menu"*/
.menu {
  width: 100%;
  height: 500px;
  background-color: $light-grey2;
  border-radius: 20px 20px 0 0;
  position: absolute;
  top: 340px;

  & .menu-title {
    position: relative;
  }
  & h2 {
    @include title-font;
    font-weight: 400;
    font-size: 1.275rem;
  }

  & i {
    font-size: 24px;
    position: absolute;
    top: 3px;
    right: 30px;
  }
}
