@import '../utils/variables';

/*Animation de l'icône coeur*/
.anim-heart {
  transition: all 2s;
}

.anim-heart:hover {
  color: transparent;
  font-weight: bold;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient($secondary-color, $primary-color);
}
