//les fonts
@mixin title-font {
  font-family: 'Shrikhand', cursive;
}

@mixin text-font {
  font-family: 'Roboto', sans-serif;
}

//Les ombres
@mixin header-shadow {
  box-shadow: 0px 0px 5px 5px darken($light-grey, 8%);
}
